<div class="right-align">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button  mat-menu-item routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
    <button *ngIf="tokenIsValid" mat-menu-item routerLink="tabs-page" routerLinkActive="active" ariaCurrentWhenActive="page">Add</button>
    <button *ngIf="tokenIsValid" mat-menu-item routerLink="unresolved-repairs-page" routerLinkActive="active" ariaCurrentWhenActive="page">Repairs</button>
    <button *ngIf="tokenIsValid" mat-menu-item routerLink="history-page" routerLinkActive="active" ariaCurrentWhenActive="page">History</button>
    <button *ngIf="!tokenIsValid" mat-menu-item routerLink="login-page" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
    <button *ngIf="tokenIsValid" mat-menu-item (click)="logout()">Logout</button>

  </mat-menu>
</div>
